.root{
         -fx-background-image: url("Images/primer-fondo.png");
         -fx-background-size: 1000 710;
         -fx-background-repeat: stretch;
         -fx-background-position: center center;
         -fx-background-color: #FFFFFF;
}
#GameOptions{
    -fx-font-family: "Impact";
    -fx-font-size: 20 pt;
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10;
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;
}

#LabelBoard{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.menu-bar{
  -fx-background-color: black;
  -fx-border-width: 1

}

.menu-bar .label {
    -fx-font-size: 22 pt;
    -fx-font-family: "Impact";
    -fx-text-fill: #FFFFFF;

}

.menu:hover {
    -fx-background-color: #49b6f9;
}

.menu-item .label{
     -fx-font-size: 22 pt;
      -fx-label-line-length: 8;
      -fx-text-fill: #000000;

}
#NormalState{
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFFE6;
}
#BoardButtons{
        -fx-border-color: #000000;
        -fx-background-color: #FFFFFF;
}
#GreenState{
    -fx-border-color: #000000;
    -fx-background-color: #0000FF;
}

#RedState{
    -fx-border-color: #000000;
    -fx-background-color: #ff0000;
}
#BlackState{
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}
#Selected{
    -fx-background-color: #0000FF; /**azul**/
    -fx-border-color: #000000;
}

#Player2{
    -fx-border-color: #000000;
    -fx-background-color: #0000FF;
}

#Player1{
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-background-color: #FFFFFFE6;        /**trasnparente blanco**/
}



